* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

.sidebar {
  width: 260px;
  height: 100vh;
  background: #202123;
  color: white;
  padding: 12px;
  display: flex;
  flex-direction: column;
  gap: 12px;

  &__new-chat {
    padding: 12px;
    border: none;
    background: #343541;
    color: white;
    cursor: pointer;
    border-radius: 8px;
  }

  &__chats {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &__chat {
    padding: 12px;
    border-radius: 8px;
    cursor: pointer;
    background: #343541;
    transition: 0.2s;

    &:hover {
      background: #40414f;
    }

    &.active {
      background: #4b5563;
    }
  }
}
